<% set_meta_tags :description => "Search results for #{@query}.", :canonical => "http://answers.honolulu.gov#{request.fullpath}", :title => "Search results for #{@query}." %>

<div class="page-container search">
  <div class="row">
    <div class="span9">
      <div class="main-content">
        <div class="header">
          <h1>Search results for: &ldquo;<strong><%=@query%></strong>&rdquo;</h1>

          <br/>
          <% @query_expanded %>
          <br/>

          <% unless (@query_corrected == @query) || (@query_corrected.blank?) %>
            <div class="suggestion">
              Did you mean:"
              <%= link_to @query_corrected, search_path(:q => @query_corrected) %>
              "?
           </div>
          <% end %>

          <br/>
          <% if @results.blank? %>
            <p>
              Sorry, no results found for "<%=@query%>". Please try rephrasing
              your search terms.
            </p>
          <% else %>
            <ul>
              <% @results.each do |article| %>
                  <li class="article-listing">
                    <h2>
                      <%= link_to article.title, article_path(article.id) %>
                    </h2>
                    <p class="preview"><%= article.preview %></p>
                  </li>
                <% end %>
            </ul>
          <% end -%>

        </div>
      </div>
    </div>
    <div class="span3">
      <%= render :partial => 'shared/categories_sidebar' %>
    </div><!-- /span3 -->
  </div>
</div>
